.movie-thumbnail-link, .movie-thumbnail-link:hover {
  text-decoration: none;
}

.movie-thumbnail {

  &.thumbnail {
    border: none;
  }

  .movie-thumbnail-img {
    width: 100%;
    height: auto;
  }

  .movie-thumbnail-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 2;
    min-height: 8rem;
    max-height: 12rem;
  }
}