.home-page {
  padding-top: 3rem;
  padding-bottom: 3rem;

  .sorting-title {
    margin-bottom: 3rem;
  }

  .slick-arrow {
    top: calc(50% - 5rem);
    width: 5rem;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .slick-arrow:hover, .slick-arrow:focus {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .slick-prev {
    left: -5rem;
  }

  .slick-next {
    right: -5rem;
  }
}
