html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: 'Raleway', 'Helvetica', sans-serif;
}

.navbar {
  border-radius: 0;
}

h1, h2, h3 {
  font-weight: 300;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.8rem;
}